<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="mainicon.png">
    <meta name="theme-color" content="#1D5C63"/>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-256x256.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <script src="https://kit.fontawesome.com/05fdbc0a72.js" crossorigin="anonymous"></script>
    <title>Gusteau's Restaurant</title>
</head>
<body>
    <a href="#mainContent" class="skip-link">Skip To Content</a>
    <header class="header">
        <div class="header-inner">
            <h1 class="header-title">Gusteau's Restaurant</h1>
        </div>
        <button id="hamburgerButton" class="header-menu">☰</button>
    </header>

    <nav id="navigationDrawer" class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#/favorite">Favorite</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/ali-hasyim-b88b431a6/">About Us</a></li>
        </ul>
    </nav>

    <main tabindex="0" id="mainContent">
        <div id="Content"></div>
    </main>
    
    <footer>
        <h2>copyright &copy; 2020 - Gusteau's Restaurant</h1>
        <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">restaurant-api</a></p>
    </footer>
</body>
</html>
